body {
  background-color: aqua;
  background-image: url("https://cdn.pixabay.com/photo/2019/08/09/06/12/car-racing-4394450_1280.jpg");
  height: 100vh;
  background-size: cover;
}
.container {
  margin-top: 400px;
  max-width: 20%;
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid black;
  border-radius: 10px;
  align-content: center;
  text-align: center;
}

h1 {
  margin-top: 30px;
  margin-bottom: 10px;
}
h2 {
  font-size: 50px;
  margin-top: 0;
  margin-bottom: 20px;

  text-align: center;
  align-content: center;
}
button {
  /* display: block; */
  margin-left: 0;
  border: none;
  padding-top: 10px;
  padding-bottom: 10px;
  color: white;
  font-weight: bold;
  width: 200px;
  margin-bottom: 5px;
  border-radius: 5px;
  align-content: center;
}
#increment-btn {
  background: #1f2937;
}
#save-btn {
  background: darkgreen;
}
#save-el {
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
}
